$mobile: 480px;
$tablet: 768px;
$smallDesktop: 1024px;
$desktop: 1440px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin smallDesktop {
  @media (min-width: $tablet) and (max-width: $smallDesktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $smallDesktop) and (max-width: $desktop) {
    @content;
  }
}

@mixin ultraDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}