@import '@styles/_variables.scss';

.container {
  align-items: center;
  background-color: $color-bg-primary;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9998;

  &__spinner {
    animation: spinner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 8px solid $color-primary;
    border-radius: 50%;
    border-top: 8px solid transparent;
    height: 40px;
    width: 40px;
    z-index: 9999;
    
  }
}

@keyframes spinner-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}