@import '@styles/_variables.scss';
@import '@styles/_mixins.scss';

.container {
  background: $color-bg-secondary;
  border: 1px solid $color-bg-primary;
  flex: 1;
  height: 100%;
  padding: 2.5rem 1rem 1.875rem 1rem;
  
  @include tablet {
    padding: 2.5rem 2rem 2.5rem 2rem;
  }

  @include smallDesktop {
    padding: 2.5rem 2rem 2.5rem 2rem;
  }
  
  @include desktop {
    padding: 2.5rem 7.5rem 2.5rem 7.5rem;
  }
  
  @include ultraDesktop {
    padding: 2.5rem 7.5rem 2.5rem 8.125rem;
  }
}