@import '@styles/_variables.scss';
@import '@styles/_mixins.scss';

.footer {
  background-color: $color-bg-primary;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  left: 0;
  margin-top: auto;
  padding: 3.125rem 1rem 2.5rem;
  width: 100%;

  &__column {
    display: flex;
    flex: 1 0 calc(50% - 1rem);
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

@include tablet {
  .footer {
    padding: 2.5rem 2rem;

    &__column {
      flex: 1;
    }
  }
}

@include smallDesktop {
  .footer {
    padding: 2.5rem 2rem;

    &__column {
      flex: 1;
    }
  }
}

@include desktop {
  .footer {
    padding: 2.5rem 7.5rem;

    &__column {
      flex: 1;
    }
  }
}

@include ultraDesktop {
  .footer {
    padding: 2.5rem 8.125rem;

    &__column {
      flex: 1;
    }
  }
}