@import '@styles/_variables.scss';

.container {
  display: flex;
  flex-direction: column;

  &__input {
    background: $color-bg-secondary;
    border: 1px solid $color-primary;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: $color-text;
    font-weight: 700;
    line-height: 1.125;
    padding: 0.75rem 1rem;

    &:focus-visible {
      outline: 2px solid $color-primary;
    }

    &::placeholder {
      color: $color-text;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $color-text;
      -webkit-box-shadow: 0 0 0px 1000px $color-bg-secondary inset;
    }
  }

  &__errorMessage {
    color: rgb(255, 82, 82);
    font-size: 12px;
    margin-top: 8px;
  }
}
