@import '@styles/_mixins.scss';
@import '@styles/_variables.scss';

$mobile_parent-padding-left: 1rem;
$mobile_parent-padding-right: 1rem;
$tablet_parent-padding-left: 2rem;
$tablet_parent-padding-right: 2rem;

.filter-buttons {
  display: flex;
  gap: 1rem;
  max-width: 100vw;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 2rem;
  width: calc(100% + ($mobile_parent-padding-left + $mobile_parent-padding-right));
  margin-left: -$mobile_parent-padding-left;
  margin-right: -$mobile_parent-padding-right;

  @include tablet {
    width: calc(100% + ($tablet_parent-padding-left + $tablet_parent-padding-right));
    margin-bottom: 2.5rem;
    margin-left: -$tablet_parent-padding-left;
    margin-right: -$tablet_parent-padding-right;
  }

  @include smallDesktop {
    width: calc(100% + ($tablet_parent-padding-left + $tablet_parent-padding-right));
    margin-bottom: 2.5rem;
    margin-left: -$tablet_parent-padding-left;
    margin-right: -$tablet_parent-padding-right;
  }
  
  @include desktop {
    margin-bottom: 4rem;
  }
  
  @include ultraDesktop {
    margin-bottom: 4rem;
  }

  &__button-container {
    display: grid;
    min-width: 7.813rem;

    &:first-child {
      margin-left: $mobile_parent-padding-left;
  
      @include tablet {
        margin-left: $tablet_parent-padding-left;
      }
    
      @include smallDesktop {
        margin-left: $tablet_parent-padding-left;
      }
    }
  
    &:last-child {
      margin-right: $mobile_parent-padding-right;
  
      @include tablet {
        margin-right: $tablet_parent-padding-right;
      }
    
      @include smallDesktop {
        margin-right: $tablet_parent-padding-right;
      }
    }
  }

  &::-webkit-scrollbar {
    height: 100%;
    width: 100%;
  }
}

.carousel-list {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @include tablet {
    gap: 2.5em;
  }

  @include smallDesktop {
    gap: 2.5em;
  }
  
  @include desktop {
    gap: 2.5em;
  }
  
  @include ultraDesktop {
    gap: 2.5em;
  }

  &__container {
    display: flex;
    flex-direction: column;
  
    &__title {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 3rem;
      color: $color-white;
      margin-bottom: 1.5rem;
  
      @include tablet {
        margin-bottom: 2rem;
      }
    
      @include smallDesktop {
        margin-bottom: 2rem;
      }
      
      @include desktop {
        margin-bottom: 2rem;
      }
      
      @include ultraDesktop {
        margin-bottom: 2rem;
      }
    }
  }  
}
